@font-face {
    font-family: 'Starlight';
    src: url(Starlight.ttf);
}

#container .disable {
  text-transform: uppercase;
}

li.disable {
  color: #fff
}

#game {
  max-width: 40%;
  min-width: 40%;
  margin: auto;
  padding-left: 0;
}

#game li {
    margin: 2%;
    font-size: 3em;
    line-height: 1.5em;
    width: 1.5em;
    font-family: 'Starlight';
}

.level a {
  padding: 5px 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  width: 30%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

h6 {
  opacity: .5;
  padding: 0;
  margin-top: -.85%;
}

#container {
  width: 100%;
  margin: 0 auto;
}

.win_times {
  background: #fff;
  width: 55%;
}


.main {
  text-align: center;
  width: 100%;
  margin: auto;
}

.level {
  text-align: center;
  display: block;
  width: 30%;
  margin: 1% auto;
}

.input-group {
  width: 25%;
  font-weight: 400;
  text-align: left;
}

#times {
  width: 10%;
}

#tiesLabel {
  width: 35%;
  padding: 0%;
}

#playerScoreBoard1 {
  background-color: #337ab7;
  color: white;
  font-weight: 400;
  text-align: left;
  width: 30%;
}

#playerScoreBoard2 {
  background-color: #31b0d5;
  color: white;
  font-weight: 400;
  text-align: left;
  width: 30%;
}

#playO {
  background-color: #337ab7;
  color: white;
  font-family: 'Starlight';
  font-size: 1.5em;
  font-weight: 100;
  text-align: left;
  width: 5%;
  padding: 0% 0% 0% 1%; 
}

#playX {
  font-family: 'Starlight';
  font-size: 1.5em;
  font-weight: 100;
  text-align: left;
  width: 5%;
  background-color: #31b0d5;
  color: white;
  padding: 0% 0% 0% 1%;
}


/* BEGIN MEDIA QUERIES */
@media screen and (max-width: 1900px) {
    .level {
        width: 40%;
        background-color: lightgreen;
    }
}

@media screen and (max-width: 1400px) {
    .level {
        width: 50%;
        background-color: lightblue;
    }
}
@media screen and (max-width: 1125px) {
    .level {
        width: 60%;
        background-color: lightyellow;
    }
}
@media screen and (max-width: 950px) {
    .level {
        width: 70%;
        background-color: red;
    }
}
@media screen and (max-width: 825px) {
    .level {
        width: 85%;
        background-color: blue;
    }
}
@media screen and (max-width: 725px) {
    .level {
        width: 95%;
        background-color: green;
    }
}
@media screen and (max-width: 675px) {
    .level {
        width: 100%;
        background-color: pink;
    }
}
@media screen and (max-width: 560px) {
    .level {
        background-color: grey;
    }
    #game {
      max-width: 55%;
      min-width: 55%;
    }

}
